<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Survey Form</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
<body class="d-flex justify-content-center align-items-center vh-95">
    <div class="container">
        <div class="card p-4 shadow-lg" style="max-width: 40rem; margin: auto;">
            <h1 class="card-title">Welcome to Survey Form</h1>
            <form method="post" id="data-table">
                {% csrf_token %}
                <div class="mb-3">
                    <label class="form-label">First Name<br>
                    {{ form.first_name }}
                </div>
                <div class="mb-3">
                    <label class="form-label">Middle Name<br>
                    {{ form.middle_name }}
                </div>
                <div class="mb-3">
                    <label class="form-label">Last Name<br>
                    {{ form.last_name }}
                </div>
                <div class="mb-3">
                    <label class="form-label">Email<br>
                    {{ form.email }}
                </div>
                <div class="mb-3">
                    <label class="form-label">Country code<br>
                    {{ form.country_code }}
                </div>
                <div class="mb-3">
                    <label class="form-label">phone number<br>
                    {{ form.phone_number }}
                </div>
                <div class="mb-3">
                    <label class="form-label">Gender<br>
                    {{ form.gender }}
                </div>
                <div class="mb-3">
                    <label class="form-label">Favorite Color<br>
                    {{ form.favorite_color }}
                </div>
                <div class="mb-3">
                    <label class="form-label">Favorite Fruit<br>
                    {{ form.favorite_fruit }}
                </div>
                <div class="mb-3">
                    <label class="form-label-primary mt-3">Description<br>
                    {{ form.description }}
                </div>
                <button type="submit" class="btn btn-primary mt-3">Submit</button>
            </div>
                <a href="{% url 'viewform' %}" class="btn btn-primary mt-3">
                    <i class="bi bi-eye"></i> View Submitted Forms
                </a>
            </div>
            </form>
        </div>
    </div>
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>